<div id='workshop'>
  <p id="notice"><%= notice %></p>

  <div class='top-half text-center'>
    <%= @workshop.name %>
  </div>
  <div class='bottom-half'>
    <div class='row'>
      <div class='col-sm-4'>
        <h3>ABOUT</h3>
      </div>
      <div class='col-sm-8'>
        <%= @workshop.description %>
        <p class='tags'>
          <% @workshop.tags.each do |tag| %>
          <span class="badge rounded-pill bg-secondary"><%= tag %></span>
          <% end %>
        </p>
      </div>
    </div>
    <% if @workshop.attachment.attached? %>
      <div class='row mt-4'>
        <div class='col-sm-4'>
          <h3>ATTACHMENT</h3>
        </div>
        <div class='col-sm-8'>
          <%= link_to rails_blob_path(@workshop.attachment, disposition: :attachment) do %>
            <i class='bi bi-cloud-arrow-down download'></i>
            <%= @workshop.attachment.filename %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class='row mt-4'>
      <div class='col-sm-4'>
        <h3>DATE / TIME</h3>
      </div>
      <div class='col-sm-8'>
        <strong><%= @workshop.date %> June</strong>
        &nbsp;

        <%= workshop_time(@workshop) %>
      </div>
    </div>
    <div class='row mt-4'>
      <div class='col-sm-4'>
        <h3>ZOOM LINK</h3>
      </div>
      <div class='col-sm-8'>
        <%= link_to 'Zoom link', @workshop.zoom_link %>
      </div>
    </div>
    <div class='row mt-4'>
      <div class='col-sm-4'>
        <h3>MAP</h3>
      </div>
      <div class='col-sm-8'>
        <% if @workshop.map.attached? && @workshop.map.representable? %>
          <%= image_tag url_for(@workshop.map), style:'width:100%; border: 1px solid #ccc;' %>
        <% end %>
      </div>
    </div>
    <div class='row mt-4'>
      <% if is_admin? %>
        <div class='admin_links text-center mt-3'>
          <%= link_to 'Edit', edit_workshop_path(@workshop) %> :
          <%= link_to 'Delete', @workshop, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
