<%= form_with(model: author) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
        <% author.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :affiliation, class: 'form-label' %>
    <%= form.text_field :affiliation, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :country, class: 'form-label' %>
    <%= form.text_field :country, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :webpage, class: 'form-label' %>
    <%= form.url_field :webpage, class: 'form-control' %>
  </div>
  <div class="field mb-3">
    <%= form.label :email, class: 'form-label' %>
    <%= form.email_field :email, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn-ritmo' %>
  </div>
<% end %>
