<p id="notice"><%= notice %></p>


<div id='author'>
  <div id='author-header'>
    <div class='top-half text-center'>
      <%= @author.name %>
      <div class='row'>
        <div class='col-sm-4 offset-sm-4 mt-4'>
          <% if @author.image.representable? %>
            <%= image_tag(@author.image, class:'img-thumbnail') %>
          <% end %>
        </div>
      </div>
    </div>
    <div class='bottom-half'>
      <% if @author.country %>
        <div class='row mb-3'>
          <div class='col-sm-4 d-none d-sm-block'>
            <h3>BIO</h3>
          </div>
          <div class='col-sm-8'>
            <%= @author.country %>
          </div>
        </div>
      <% end %>
      <div class='row mb-3'>
        <div class='col-sm-4 d-none d-sm-block'>
          <h3>AFFILIATION</h3>
        </div>
        <div class='col-sm-8'>
          <%= @author.affiliation %>
        </div>
      </div>
      <% if @author.webpage %>
        <div class='row'>
          <div class='col-sm-4 d-none d-sm-block'>
            <h3>WEBSITE</h3>
          </div>
          <div class='col-sm-8'>
            <%= link_to @author.webpage do %>
              <i class='bi bi-globe'></i>
              View website
            <% end %>
          </div>
        </div>
      <% end %>
      <% if @author.email %>
        <div class='row'>
          <div class='col-sm-4 d-none d-sm-block'>
            <h3>EMAIL</h3>
          </div>
          <div class='col-sm-8'>
            <%= mail_to @author.email do %>
              <i class='bi bi-envelope'></i>
              Send email
            <% end %>
          </div>
        </div>
      <% end %>
      <div class='row mt-4'>
        <div class='col-sm-4'>
          <h3>TALKS / POSTERS</h3>
        </div>
        <div class='col-sm-8'>
          <% @author.events.each do |event| %>
            <p>
              <%= link_to event.title, event_path(event) %>
              <% if event.event_type == 'Talks' %>
                <span class='badge event-type'>
                  <i class='bi bi-film'></i>
                  talk
                </span>
              <% elsif event.event_type == 'Posters' %>
                <span class='badge event-type'>
                  <i class='bi bi-easel'></i>
                  poster session
                </span>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
      <% if is_admin? %>
        <div class='text-sm-end text-center mt-5'>
          <%= link_to 'Edit', edit_author_path(@author), class:'btn-ritmo' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
