<div id='edit_user' class='p-1 px-sm-5 py-sm-1'>
  <%= link_to 'Log out', destroy_user_session_path, method: :delete, class:'btn-ritmo float-end' %>
  <h1 class='underlined'>Editing your profile</h1>

  <%= form_with(model: @user) do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user.errors.count, "error") %> prohibited your profile from being saved:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field mb-3">
      <%= form.label :name, class: 'form-label' %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="field mb-3">
      <%= form.label :email, class: 'form-label' %>
      <%= form.email_field :email, class: 'form-control' %>
    </div>

    <div class="field mb-3">
      <%= form.label :job_title, class: 'form-label' %>
      <%= form.text_field :job_title, class: 'form-control' %>
    </div>

    <div class="field mb-3">
      <%= form.label :about, class: 'form-label' %>
      <%= form.rich_text_area :about, class: 'form-control' %>
    </div>

    <div class="field mb-3">
      <%= form.label :image, class: 'form-label' %>
      <%= form.file_field :image, class: 'form-control' %>
    </div>

    <div class="field mb-5">
      <%= form.label :time_zone, class: 'form-label' %>
      <%= form.select :time_zone, time_zone_options_for_select(@user.time_zone, nil, ActiveSupport::TimeZone), {}, {class:'form-select'} %>
    </div>

    <div class="actions">
      <%= form.submit class: 'btn-ritmo' %>
    </div>
  <% end %>




  <br>

  <%= link_to 'Delete my account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>