<div class='event'>
  <div class='row'>
    <div class='col-sm-3'>
      <strong class='event-time'
              data-start-date="<%=  %>"
              data-end-date="<%=  %>" >
              <%=  %>
      </strong>
      <br>
      <div class='text-muted'><%= link_to event.event_type, events_path(type:event.event_type) %></div>
    </div>
    <div class='col-sm-6'>
      <h5 class='ws_title'><%= event.title %></h5>
      <% event.authors.each do |author| %>
        <%= link_to author.name, author_path(author) %>
      <% end %>
      <p><%= event.abstract %></p>
      <% if event.attachment.attached? %>
        <%= link_to rails_blob_path(event.attachment, disposition: :attachment) do %>
          <i class='bi bi-cloud-arrow-down download'></i>
          <%= event.attachment.filename %>
        <% end %>
      <% end %>
      <p class='tags mt-3'>
        <% event.keywords.each do |kw| %>
          <%= link_to events_path(tag:kw) do %>
            <span class="badge rounded-pill bg-secondary"><%= kw %></span>
          <% end %>
        <% end %>
      </p>
    </div>
    <div class='col-sm-3 px-sm-5 mt-sm-0 mt-4'>
      <h5 class='ws_title'>Join <%= event.conference_session.session_type %></h5>
      <br>

      <%= link_to event.youtube_link do %>
        <div class='zoom'>
          <i class="bi bi-camera-video"></i>
          <span class='link_text'>Zoom</span>
        </div>
      <% end %>
      <% if event.map.attached? && event.map.representable? %>
        <%= render partial: 'map', locals: {map: event.map} %>
        <button type="button" class="map" data-bs-toggle="modal" data-bs-target="#mapModal">
          <i class="bi bi-map fs-4"></i>
          <span class='link_text'>Map</span>
        </button>
      <% end %>

      <% if is_admin? %>
        <div class='admin_links text-center mt-3'>
          <%= link_to 'Edit', edit_event_path(event) %> :
          <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
