<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :title, class: 'form-label' %>
    <%= form.text_field :title, class: 'form-control'%>
  </div>

  <div class="field mb-3">
    <%= form.label :abstract, class: 'form-label' %>
    <%= form.rich_text_area :abstract, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :attachment, class: 'form-label' %>
    <%= form.file_field :attachment, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :vortex_link, class: 'form-label' %>
    <%= form.text_field :vortex_link, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :youtube_link, class: 'form-label' %>
    <%= form.text_field :youtube_link, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :zoom_link, class: 'form-label' %>
    <%= form.text_field :zoom_link, class: 'form-control' %>
  </div>


  <div class="actions">
    <%= form.submit class: 'btn-ritmo' %>
  </div>
<% end %>
