<p id="notice"><%= notice %></p>

<%- if params[:type] %>
  <div class='filter-box'>
    <%= link_to events_path, class:'filter rounded-pill' do %>
      Viewing
      <strong><%= params[:type].pluralize %></strong>
      &nbsp;
      &nbsp;
      <i class='bi bi-x-circle'></i>
    <% end %>
  </div>
<% end %>
<%- if params[:tag] %>
  <div class='filter-box'>
    <%= link_to events_path, class:'filter rounded-pill' do %>
      Viewing all events tagged with
      <strong><%= params[:tag] %></strong>
      &nbsp;
      &nbsp;
      <i class='bi bi-x-circle'></i>
    <% end %>
  </div>
<% end %>
<% if search_active %>
  <div class='filter-box'>
    <%= link_to events_path, class:'filter rounded-pill' do %>
      Showing <%= @events.size %> results for
      <strong><%= params[:search] %></strong>
      &nbsp;
      &nbsp;
      <i class='bi bi-x-circle'></i>
    <% end %>
  </div>
<% end %>

<ul class="nav dates nav-fill">
  <li class="nav-item">
    <button class="nav-link active" id="day1-tab" data-bs-toggle="tab" data-bs-target="#day1" type="button" role="tab" aria-controls="day1" aria-selected="true">
      22 June
      <% if filter_active && @events.where(date: 22).size > 0 %>
        <span class="badge rounded-pill">
          <%= @events.where(date: 22).size %>
        </span>
      <% end %>
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link" id="day2-tab" data-bs-toggle="tab" data-bs-target="#day2" type="button" role="tab" aria-controls="day2" aria-selected="false">
      23 June
      <% if filter_active && @events.where(date: 23).size > 0 %>
        <span class="badge rounded-pill">
          <%= @events.where(date: 23).size %>
        </span>
      <% end %>
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link" id="day3-tab" data-bs-toggle="tab" data-bs-target="#day3" type="button" role="tab" aria-controls="day3" aria-selected="false">
      24 June
      <% if filter_active && @events.where(date: 24).size > 0 %>
        <span class="badge rounded-pill">
          <%= @events.where(date: 24).size %>
        </span>
      <% end %>
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link" id="day4-tab" data-bs-toggle="tab" data-bs-target="#day4" type="button" role="tab" aria-controls="day4" aria-selected="false">
      25 June
      <% if filter_active && @events.where(date: 25).size > 0 %>
        <span class="badge rounded-pill">
          <%= @events.where(date: 25).size %>
        </span>
      <% end %>
    </button>
  </li>
</ul>

<div class="tab-content" id="events">
  <div class="tab-pane fade show active" id="day1" role="tabpanel" aria-labelledby="day1-tab">
    <% @events.where(date: 22).each do |event| %>
      <%= render partial: 'event', locals: {event: event} %>
    <% end %>
    <% if @events.where(date: 22).count == 0 %>
      <p class='noevents'>There are currently no presentations on this day.</p>
    <% end %>
  </div>

  <div class="tab-pane fade" id="day2" role="tabpanel" aria-labelledby="day2-tab">
    <% @events.where(date: 23).each do |event| %>
      <%= render partial: 'event', locals: {event: event} %>
    <% end %>
    <% if @events.where(date: 23).count == 0 %>
      <p class='noevents'>There are currently no presentations on this day.</p>
    <% end %>
  </div>
  <div class="tab-pane fade" id="day3" role="tabpanel" aria-labelledby="day3-tab">
    <% @events.where(date: 24).each do |event| %>
      <%= render partial: 'event', locals: {event: event} %>
    <% end %>
    <% if @events.where(date: 24).count == 0 %>
      <p class='noevents'>There are currently no presentations on this day.</p>
    <% end %>
  </div>
  <div class="tab-pane fade" id="day4" role="tabpanel" aria-labelledby="day4-tab">
    <% @events.where(date: 25).each do |event| %>
      <%= render partial: 'event', locals: {event: event} %>
    <% end %>
    <% if @events.where(date: 25).count == 0 %>
      <p class='noevents'>There are currently no presentations on this day.</p>
    <% end %>
  </div>
</div>

<br>

<% if is_admin? %>
  <div class='text-end'>
    <%= link_to 'New event', new_event_path, class: 'btn-ritmo' %>
  </div>
<% end %>

<br>