<div id='event'>
  <p id="notice"><%= notice %></p>

  <div class='top-half text-center'>
    <%= @event.title %>
  </div>
  <div class='bottom-half p-sm-5 p-3'>
    <% if @event.youtube_link || @event.vortex_link %>
      <% if @event.youtube_link %>
        <% if @event.youtube_link.include?("youtu.be") %>
          <div class='ratio ratio-16x9'>
            <iframe src="https://www.youtube.com/embed/<%= extract_yt_id(@event) %>?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        <% end %>
      <% elsif @event.vortex_link %>
        <div class='ratio ratio-16x9'>
          <iframe src=<%= vortex_embed(@event) %> frameBorder="0" allowfullscreen></iframe>
        </div>
      <% end %>
    <% end -%>

    <% if !@event.youtube_link.blank? && !@event.youtube_link.include?("youtu.be") %>
      <div class='row'>
        <div class='col text-center'>
          <%= link_to @event.youtube_link, class:'btn-join me-sm-3', target: '_blank' do %>
            Watch it here
          <% end %>
        </div>
      </div>
    <% end -%>

    <br>

    <% if @event.zoom_link %>
      <div class='row mt-4'>
        <div class='col-sm-4'>
          <h3>ZOOM</h3>
        </div>
        <div class='col-sm-8'>
          <strong><%= link_to @event.zoom_link, @event.zoom_link, target: '_blank' %></strong>
        </div>
      </div>
    <% end -%>
    <div class='row mt-4'>
      <div class='col-sm-4'>
        <h3>AUTHORS</h3>
      </div>
      <div class='col-sm-8'>
        <p class=''>
          <% @event.authors.each do |author| %>
            <%= link_to author.name, author_path(author) %><br>
          <% end %>
        </p>
      </div>
    </div>
    <% if @event.attachment.attached? %>
      <div class='row mt-4'>
        <div class='col-sm-4'>
          <h3>ATTACHMENT</h3>
        </div>
        <div class='col-sm-8'>
          <%= link_to rails_blob_path(@event.attachment, disposition: :attachment) do %>
            <i class='bi bi-cloud-arrow-down download'></i>
            <%= @event.attachment.filename %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class='row mt-4'>
      <div class='col-sm-4'>
        <h3>SESSION</h3>
      </div>
      <div class='col-sm-8'>
        <strong><%= @event.conference_session.name %></strong>
      </div>
    </div>
    <div class='row mt-4'>
      <div class='col-sm-4'>
        <h3>DATE / TIME</h3>
      </div>
      <div class='col-sm-8'>
        <strong><%= @event.conference_session.start.to_formatted_s(:short) %></strong>
      </div>
    </div>
    <div class='row mt-4'>
      <div class='col-sm-4'>
        <h3>ABSTRACT</h3>
      </div>
      <div class='col-sm-8'>
        <%= @event.abstract %>
        <p class='tags mt-3'>
          <% @event.keywords.each do |kw| %>
            <span class="badge rounded-pill bg-secondary">
              <%= link_to programme_index_path(tag:kw) do %>
                <%= kw %>
              <% end %>
            </span>
          <% end %>
        </p>
      </div>
    </div>
    <div class='row mt-4'>
      <% if is_admin? %>
        <div class='admin_links text-center mt-3'>
          <%= link_to 'Edit', edit_event_path(@event) %> :
          <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
