<div id='event'>
  <p id="notice"><%= notice %></p>

  <div class='top-half text-center'>
    <%= @event.title %>
  </div>
  <div class='bottom-half'>
    <div class='row'>
      <div class='col-sm-3'>
        <h3>ABSTRACT</h3>
      </div>
      <div class='col-sm-9'>
        <%= @event.abstract %>
        <p class='tags'>
          <% @event.keywords.each do |kw| %>
          <span class="badge rounded-pill bg-secondary"><%= kw %></span>
          <% end %>
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-3'>
        <h3>AUTHORS</h3>
      </div>
      <div class='col-sm-9'>
        <p class=''>
          <% @event.authors.each do |author| %>
            <%= link_to author.name, author_path(author) %><br>
          <% end %>
        </p>
      </div>
    </div>
    <% if @event.attachment.attached? %>
      <div class='row mt-4'>
        <div class='col-sm-3'>
          <h3>ATTACHMENT</h3>
        </div>
        <div class='col-sm-9'>
          <%= link_to rails_blob_path(@event.attachment, disposition: :attachment) do %>
            <i class='bi bi-cloud-arrow-down download'></i>
            <%= @event.attachment.filename %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class='row mt-4'>
      <div class='col-sm-3'>
        <h3>SESSION</h3>
      </div>
      <div class='col-sm-9'>
        <strong><%= @event.conference_session.name %></strong>
      </div>
    </div>
    <div class='row mt-4'>
      <div class='col-sm-3'>
        <h3>DATE / TIME</h3>
      </div>
      <div class='col-sm-9'>
        <strong><%= @event.conference_session.start.to_formatted_s(:short) %></strong>
      </div>
    </div>
    <div class='row mt-4'>
      <div class='col-sm-3'>
        <h3>VIDEO LINK</h3>
      </div>
      <div class='col-sm-9'>
        <%= link_to 'Video link', @event.youtube_link %>
      </div>
    </div>
    <div class='row mt-4'>
      <div class='col-sm-3'>
        <h3>MAP</h3>
      </div>
      <div class='col-sm-9'>
        <% if @event.map.attached? && @event.map.representable? %>
          <%= image_tag url_for(@event.map), style:'width:100%; border: 1px solid #ccc;' %>
        <% end %>
      </div>
    </div>
    <div class='row mt-4'>
      <% if is_admin? %>
        <div class='admin_links text-center mt-3'>
          <%= link_to 'Edit', edit_event_path(@event) %> :
          <%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
