<div class='session'>
  <div class='row'>
      <div class='col-sm-2 pb-2'>
        <%= session_time(conf_session) %>
      </div>
      <div class='col-sm-10'>
        <h2 class='session_name'>
          <% if conf_session.session_type == 'Talks' %>
            Talks:
          <% end %>
          <%= conf_session.name %>
        </h3>
        <% if !conf_session.chair.empty? %>
          <p class='chair'>Chair - <%= conf_session.chair %>
        <% end %>
        </p>
      </div>
  </div>
</div>

  <div class='events'>
    <% conf_session.events.each do |event| %>
      <div class='row'>
        <div class='col-sm-10 offset-sm-2 pb-3'>
          <div class='row'>
            <div class='col-sm-10'>
              <h3 class=''><%= event.title %></h3>
            </div>
            <div class='col-sm-2'>
              <%= link_to event_path(event), class:'btn-profile' do %>
                View
                <i class='bi bi-arrow-right-circle'></i>
              <% end %>
            </div>
          </div>
          Authors:
          <% event.authors.each do |author| %>
            <%= link_to author.name, author_path(author) %>
          <% end %>
          <p class='tags mt-3'>
            <% event.keywords.each do |kw| %>
              <%= link_to programme_index_path(tag:kw) do %>
                <span class="badge rounded-pill bg-secondary"><%= kw %></span>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
      <br>
    <% end %>
  </div>
