<%- if params[:type] %>
  <div class='filter-box'>
    <%= link_to programme_index_path, class:'filter rounded-pill' do %>
      Viewing
      <strong><%= params[:type].pluralize %></strong>
      &nbsp;
      &nbsp;
      <i class='bi bi-x-circle'></i>
    <% end %>
  </div>
<% end %>
<%- if params[:tag] %>
  <div class='filter-box'>
    <%= link_to programme_index_path, class:'filter rounded-pill' do %>
      Viewing all events tagged with
      <strong><%= params[:tag] %></strong>
      &nbsp;
      &nbsp;
      <i class='bi bi-x-circle'></i>
    <% end %>
  </div>
<% end %>
<% if search_active %>
  <div class='filter-box'>
    <%= link_to programme_index_path, class:'filter rounded-pill' do %>
      Showing results for
      <strong><%= params[:search] %></strong>
      &nbsp;
      &nbsp;
      <i class='bi bi-x-circle'></i>
    <% end %>
  </div>
<% end %>


<ul class="nav dates nav-fill">
  <li class="nav-item">
    <button class="nav-link active" id="day1-tab" data-bs-toggle="tab" data-bs-target="#day1" type="button" role="tab" aria-controls="day1" aria-selected="true">
      22 June
      <% if filter_active && @d1_sessions.event_count > 0 %>
        <span class="badge rounded-pill">
          <%= @d1_sessions.event_count %>
        </span>
      <% end %>
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link" id="day2-tab" data-bs-toggle="tab" data-bs-target="#day2" type="button" role="tab" aria-controls="day2" aria-selected="false">
      23 June
      <% if filter_active && @d2_sessions.event_count > 0 %>
        <span class="badge rounded-pill">
          <%= @d2_sessions.event_count %>
        </span>
      <% end %>
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link" id="day3-tab" data-bs-toggle="tab" data-bs-target="#day3" type="button" role="tab" aria-controls="day3" aria-selected="false">
      24 June
      <% if filter_active && @d3_sessions.event_count > 0 %>
        <span class="badge rounded-pill">
          <%= @d3_sessions.event_count %>
        </span>
      <% end %>
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link" id="day4-tab" data-bs-toggle="tab" data-bs-target="#day4" type="button" role="tab" aria-controls="day4" aria-selected="false">
      25 June
      <% if filter_active && @d4_sessions.event_count > 0 %>
        <span class="badge rounded-pill">
          <%= @d4_sessions.event_count %>
        </span>
      <% end %>
    </button>
  </li>
</ul>
<br>

<div id='programme'>
  <div class="tab-content" id="programme">
    <div class="tab-pane fade show active" id="day1" role="tabpanel" aria-labelledby="day1-tab">
      <% @d1_sessions.each do |conf_session| %>
          <%= render partial: 'session', locals: {conf_session: conf_session} %>
      <% end %>
    </div>
    <div class="tab-pane fade show" id="day2" role="tabpanel" aria-labelledby="day2-tab">
      <% @d2_sessions.each do |conf_session| %>
          <%= render partial: 'session', locals: {conf_session: conf_session} %>
      <% end %>
    </div>
    <div class="tab-pane fade show" id="day3" role="tabpanel" aria-labelledby="day3-tab">
      <% @d3_sessions.each do |conf_session| %>
          <%= render partial: 'session', locals: {conf_session: conf_session} %>
      <% end %>
    </div>
    <div class="tab-pane fade show" id="day4" role="tabpanel" aria-labelledby="day4-tab">
      <% @d4_sessions.each do |conf_session| %>
          <%= render partial: 'session', locals: {conf_session: conf_session} %>
      <% end %>
    </div>
  </div>
</div>