<div id='header'>
  <div class='row align-items-center p-md-5'>
    <div class='col-md-8 py-2 text-md-start text-center'>
      RPPW 2021
      <div class='subheading d-block d-none d-md-block'>
        Rhythm, perception and production workshop | 22-25 Jun
      </div>
    </div>
    <div class='col-sm-4 pb-sm-0 pb-4 px-sm-0 px-5 text-sm-start text-center'>
      <% if current_user %>
        <%= link_to edit_user_path(current_user), class:'btn-profile' do %>
          <div id='user_profile' class='shadow row align-items-center'>
            <div class='col-6 text-start text-break'>
              <%= user_name(current_user) %>
              <p class='job_title'><%= current_user.job_title %></p>
            </div>
            <div class='col-6 text-center'>
              <%= user_profile_pic(current_user) %>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= button_to 'REGISTER / LOGIN', new_user_session_path, class:'btn btn-light btn-lg btn-login text-wrap shadow'%>
      <% end %>
    </div>
  </div>
</div>