<div id='menubar'>
  <ul class="nav nav-fill">
    <li class="nav-item">
      <%= link_to('ABOUT', root_path, class:"nav-link #{active_tab('conference')}") %>
    </li>
    <li class="nav-item">
      <%= link_to('PROGRAMME', programme_index_path, class:"nav-link #{active_tab('programme')}") %>
    </li>
    <li class="nav-item">
      <%= link_to('AUTHORS', authors_path, class:"nav-link #{active_tab('authors')}") %>
    </li>
    <li class="nav-item">
      <%= link_to('SOCIAL', social_index_path, class:"nav-link #{active_tab('social')}") %>
    </li>
    <!--
    <li class="nav-item">
      <%= link_to('SOCIAL', events_path, class:"nav-link #{active_tab('thing')}") %>
    </li> -->
<!--     <li class="nav-item">
      <%= link_to('FAQ', events_path, class:"nav-link #{active_tab('thing')}") %>
    </li> -->
  </ul>
</div>