<div id='menubar'>
  <ul class="nav nav-fill">
    <li class="nav-item">
      <%= link_to('ABOUT', root_path, class:"nav-link #{active_tab('conference')}") %>
    </li>
    <li class="nav-item">
      <%= link_to('WORKSHOPS', workshops_path, class:"nav-link #{active_tab('workshops')}") %>
    </li>
    <li class="nav-item">
      <%= link_to('RESEARCHERS', workshops_path, class:"nav-link #{active_tab('thing')}") %>
    </li>
    <li class="nav-item">
      <%= link_to('POSTERS', workshops_path, class:"nav-link #{active_tab('thing')}") %>
    </li>
    <li class="nav-item">
      <%= link_to('SOCIAL', workshops_path, class:"nav-link #{active_tab('thing')}") %>
    </li>
    <li class="nav-item">
      <%= link_to('FAQ', workshops_path, class:"nav-link #{active_tab('thing')}") %>
    </li>
  </ul>
</div>